.contacttitle {
  width: 100vw;
  height: 10vh;
  display: grid;
  place-items: center;
  background: #3d3d3d;
  color: #fff;
  letter-spacing: 0.2em;
}

.contact {
  background: #2c2c2c;
  width: 100vw;
  height: 85vh;
}

input {
  width: 300px;
  height: 40px;
  padding: 10px;
}

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;
  outline: none;
}
.contactform input:nth-child(3) {
  height: 100px;
}

.contactform button {
  width: 300px;
  padding: 10px;
  border: none;
  color: #fbfbfb;
  background: linear-gradient(rgb(255 95 95), #f44336);
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
}

.contactform button:hover {
  background: #ff2212;
}
.center {
  display: grid;
  place-content: center;
  height: 70vh;
}
