.Navbar {
  width: 100vw;
  height: 15vh;
  background-color: #494949;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid #ff2525;
}

.Navlinks a {
  color: #fbfbfb;
  letter-spacing: 0.02em;
  font-size: 12px;
  padding: 5px 10px;
  transition: background 0.3s ease;
}
.Navlinks a:hover {
  background: #303030;
  border-radius: 5px;
  border-bottom: 1px solid #ff3939;
  border-left: 1px solid #ff3939;
}
.Navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 5px 10px;
}

.blue {
  color: #00c2ff;
}

.red {
  color: #ff5b5b;
}

@media screen and (max-width: 700px) {
  .Navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 310px) {
  .Navbar {
    flex-direction: column;
  }

  .Navlinks {
    min-width: 250px;
  }
}
